*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
}

.toolbox-cont{
    height: 4rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.toolbox-cont>*{
    margin-left: 4rem;
}

.toolbox-col-cont{
    height: 3.5rem;
    background-color: #3d3d3d;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-btn-cont{
    height: 3.5rem;
    background-color: #3d3d3d;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.lightPink{
    background-color: lightpink;
}
.lightGreen{
    background-color: lightgreen;
}
.lightBlue{
    background-color: lightblue;
}
.black{
    background-color: black;
}

.action-btn-cont>*{
    font-size: 2rem;
    color: #d1d8e0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.toolbox-col-cont>*:hover, .action-btn-cont>*:hover{
    background-color: #485460;
}

.modal-cont{
    height: 50vh;
    width: 45vw;
    background-color: lightblue;
    position: absolute;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
    border-radius: 8px;
    display: flex;
}

textarea{
    height: 100%;
    width: 75%;
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    border: none;
    resize: none;
    background-color: #dfe4ea;
    font-size: 2rem;
}

.priority-col-cont{
    height: 100%;
    width: 25%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #4b4b4b;
}

.priority-color{
    height: 10%;
    width: 38%;

}