*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
}

.toolbox-cont{
    height: 4rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.toolbox-cont>*{
    margin-left: 4rem;
}

.toolbox-col-cont{
    height: 3.5rem;
    background-color: #3d3d3d;
    width: 18rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-btn-cont{
    height: 3.5rem;
    background-color: #3d3d3d;
    width: 7rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.lightPink{
    background-color: lightpink;
}
.lightGreen{
    background-color: lightgreen;
}
.lightBlue{
    background-color: lightblue;
}
.black{
    background-color: black;
}

.action-btn-cont>*{
    font-size: 2rem;
    color: #d1d8e0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.toolbox-col-cont>*:hover, .action-btn-cont>*:hover{
    background-color: #485460;
}

.modal-cont{
    height: 50vh;
    width: 45vw;
    background-color: lightblue;
    position: absolute;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
    border-radius: 8px;
    display: none;
}
.utility-box{
    height: min-content;
    width: min-content;
    margin: 0.3rem 0.3rem 0rem 0.1rem;
}
.cut{
    color: #ed6a5e;
}
.done{
    color: #61c554;
}

textarea{
    height: 100%;
    width: 80%;
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    border: none;
    resize: none;
    background-color: #dfe4ea;
    font-size: 2rem;
}

.priority-col-cont{
    height: 100%;
    width: 20%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #4b4b4b;
}

.priority-color{
    height: 10%;
    width: 38%;
    border-radius: 4px;
}

.active{
    border: 5px solid red;
}
.ticket-cont{
    height: 12rem;
    width: 15rem;
    margin: 1rem;
    background-color: #f1f2f6;
    border-radius: 8px;
}
.ticket-id{
    height: 2rem;
    background-color: red;
}
.ticket-color{
    height: 1rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.task-area{
    height: calc(100% - 1rem - 2rem);
    border-radius: 8px;
    font-size: 1.5rem;
    outline: none;
    overflow-wrap: break-word;
}

.main-cont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}